@page
<div class="container">
    <div class="row markdown-syntax douh">
        <div class="col-sm-12">
            <h1 class="display-4">Version compare</h1>
            <div class="col-sm-6">
                <a asp-area="" asp-page="/KafkaCompare">Kafka Compare</a>
            </div>
            <div class="col-sm-6">
                <a asp-area="" asp-page="/CpCompare">Confluent Platform Compare</a>
            </div>
        </div>
    </div>
</div>
