@page
<div class="container">
    <div class="row markdown-syntax douh">
        <div class="col-sm-12">
            <h1 class="display-4">Kafka Version compare</h1>
            <div>
                
                <a asp-area="" asp-page="/KafkaCompare">Kafka Compare</a>
            </div>
            <div>
                Confluent Platform Compare
            </div>
        </div>
    </div>
</div>
