@page
@using KafkaVersionCompare.Services
@model IndexModel
@inject IReleaseBuilder ReleaseBuilder
@{
    ViewData["Title"] = "Home page";

    var releases = await ReleaseBuilder.BuildReleaseFromCrawl();
    var versions = releases.Select(x => x.Version);
    
}

<div class="text-center">
    <h1 class="display-4">Kafka Version compare</h1>
    @await Html.PartialAsync("_ReleasesDropDown",versions)
</div>