@page
@using KafkaVersionCompare.Services
@model IndexModel
@inject IReleaseBuilder ReleaseBuilder
@{
    ViewData["Title"] = "Home page";

    var releases = await ReleaseBuilder.BuildReleaseFromCrawl();
   
    var majorVersionGroups = releases.GroupBy(x => x.Version.Major).OrderByDescending(x => x.Key).ToList();
    
}

<div class="text-center">
    <h1 class="display-4">Kafka Version compare</h1>
    @await Html.PartialAsync("_ReleasesDropDown",majorVersionGroups)
</div>